.nav {

   position: absolute; top: 5px; right: 5px; text-align: right;
}


.navdesign {
  border-top: inset #2DA1FB 5px;
  border-left: inset #2DA1FB 5px;
  border-bottom: inset #2DA1FB 5px;
  text-align: center;


}

.para {
  font-size: 20px;
  margin: 50px;
  font-family: sans-serif;

}

.introtitle {

  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  border: ridge #4B4B4B 10px;
  background-color: #CBCFCE;
  padding: 5px;
}


.intromain {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 300px;
  border: ridge #4B4B4B 10px;
  background-color: #CBCFCE;
  padding: 5px;
}



header {


}

main {

text-align: center;
background-color: #CBCFCE;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
border: ridge #CBCFCE 10px;
width: 900px;

}

footer {


}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: monospace;




}

h2 {
  color: blue;
  font-size: 25px;
  font-family: sans-serif;


}

body {
  background-image: url("cool-background.png");

  height: 100%;



  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.gallary {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2em;
}
