


.para {
  font-size: 20px;
  margin: 50px;

}

.introtitle {

  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border: ridge #4B4B4B 20px;
  background-color: #CBCFCE;
  padding: 10px;
}


.intromain {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 300px;
  border: ridge #4B4B4B 20px;
  background-color: #CBCFCE;
  padding: 5px;
}



header {


}

main {

text-align: center;
background-color: #CBCFCE;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
border: ridge #CBCFCE 10px;
width: 900px;

}

footer {
  background-color: #D3D2D2;

}

h1 {
  font-size: 50px;
  color: black;
  text-align: center;


}

h2 {
  color: blue;
  font-size: 30px;


}

body {
  background-image: url("cool-background.png");


  height: 100%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
