
.introtitle {

  text-align: center;
<<<<<<< HEAD
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  border: ridge #4B4B4B 20px;
  background-color: #CBCFCE;
  padding: 10px;
=======
  height: 400px;
  font-size: 50px;
  margin: 10px;
  position: relative;
  line-height: 10
>>>>>>> 7cdf67ae28c114e9a6228c4ce4a7d797abb25cb0
}


.intromain {
  text-align: center;
<<<<<<< HEAD
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 300px;
  border: ridge #4B4B4B 20px;
  background-color: #CBCFCE;
  padding: 5px;
=======
  font-size: 30px;
  height: 40px;
>>>>>>> 7cdf67ae28c114e9a6228c4ce4a7d797abb25cb0
}


header {

}

main {


}

footer {
  

}

h1 {
  font-size: 50px;
  color: black;



}

h2 {
  color: blue;
  font-size: 30px;


}

body {
  background-color: ;
  background-image: url('headerbg.png');


}
